body {
  background-color: #c3d5d7d4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
 font-size: 1.5rem;
}

header {
  background-image: url(../IMG_0019.jpg);
  background-size: cover;
  padding: 15vw;
  background-position: center center;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  color: #d7d7d7;
  background: #00000087;
}

h1 {
  Font-style: italic;

}

 h4 {
  margin: 0.5%
 }
   
h5 {
  margin: 0.5%;
  font-style: italic;
 }

h6 {
    background-color: #ffffff63;
}

button {
  padding: 0.8vw 1vw;
  border: none;
  box-shadow: none;
  background: #7f909aa3;
  text-decoration: none;
 }

.nav-but {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 margin: -15% 0 25% 0;
}

@media (max-width: 800px) {
  button {
/*   width: 20vw; */
;

 }
 .nav-but {
  flex-direction: column;
 }

}

button a {
 text-decoration: none;
 color: #f2f2f2;
 
}

ul {
list-style-type: none;
 padding: 0;
 margin: 0;
}

a {
 text-decoration: none;
 color: black;
}

.dropdowns {
 display: inline-block;
}
.containter {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

@media (max-width: 800px) {
  .containter{
   flex-direction: column;
   justify-content: space-evenly;
  }
}
   
 img {
  height: 30%;
  width: 30%;
  display: flexbox;
  flex-wrap: wrap;
 }

.question {
   font-size: 1.1rem;
   font-weight: 150;
   font-style: italic;
   font-weight: bold;
   }

table td img {
  width: 80%;
}

  table tr td ul, table tr td p {
    text-align: left;
  }