body {
  background-color: #c3d5d7d4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-image: url(../IMG_0019.jpg);
  background-size: cover;
  padding: 16%;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 8vw;
  Font-style: italic;
  color: #d7d7d7;
  background: #00000087;
}

h2 {
 font-size: 2.5vw;
 color: #dcdcdcf0;
 background: #00000087;
}
h3 {
 font-size: 2vw;
 color: #d7d7d7;
 background: #00000087;
}

h5 {
  font-size: 2rem;
  margin: 0.5%;
  font-style: italic;
 }

 h4 {
  font-size: 1.8rem;
  margin: 0.5%
 } 

button {
  font-size: 1vw;
 padding: 0.8vw 1vw;
  border: none;
  box-shadow: none;
  background: #7f909aa3;
  text-decoration: none;
 }

@media (min-width: 800px) {
 margin: 5px;
 padding: 0px;
 width: 200px;
}

.nav-but {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

@media (max-width: 800px) {
 .nav-but {
  flex-direction: column;

 }
}

button a {
 text-decoration: none;
 color: #f2f2f2;
 
}

button:hover {
  background-color: #848484;
  color: black;
}

ul {
list-style-type: none;
font-size: 1rem;
 padding: 0;
 margin: 0;
}

a {
 text-decoration: none;
 color: black;
}

p {
 font-size: 1rem;
}

.nav-but {
 margin: -23% 0 25% 0;
 /* flex-wrap: wrap; */
}

.dropdowns {
 font-size: 1rem;
 display: inline-block;
}
.containter {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

@media (max-width: 800px) {
  .containter{
    flex-direction: column;
   justify-content: space-evenly;
  }
}
  .name {
    text-align: center;
    font-weight: 700;
    font-style: italic;
   }
   
   img {
    height: 30%;
    width: 30%;
   }

   .date {
    font-size: 1.4rem;
    margin-bottom: 50%;
   }
   
   .question {
   font-size: 2rem;
   font-weight: 150;
   font-style: italic;
   font-weight: bold;
   }

   h6 {
    background-color: #ffffffa3;
    font-size: 2rem;
    padding: 1.5%;
  }